<% if(typeof user !== 'undefined' && role_user > 2 ){ %>
  <div class="shadow bg-light border">
    <div data-bs-toggle="modal" data-bs-target="#exampleModal">
      <div class="col-12 text-center fs-3">Miêu tả cảm nghĩ của bạn...</div>
      <div style="height:250px" class="text-center">
        <img width="140px" class="mt-5" src="https://cdn.picpng.com/icon/upload-files-icon-66764.png" alt="">
      </div>
    </div>
  </div>
  <!-- ------------------ -->
  <%
  user.posts.forEach(value =>{
  %>
  <div class="col-12 mt-3 p-5 bg-white shadow rounded-3">
    <div class="row col-12">
        <div class="col-1">
          <img width="40px" class="rounded-circle" src="<%=user.picture%>" alt="">
        </div>
        <div class="col-6 fw-bold mt-2"><%=user.name%></div>
        <div class="col-5 text-end mt-2"><i class="fa fa-clock-o" aria-hidden="true">&nbsp; <%=moment(value.dayPosts).format('Do MMMM YYYY HH:mm:ss')%></i></div>
    </div> <br><br><br>
    <div><%=value.content%></div>
    <% value.image.forEach(row =>{ %>
      <div class="col-11">
        <img width="600px" src="/upload/<%=row.filename%>" alt="">
      </div>
    <% }) %>
</div>
  <%})%>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content bg-light">
        <div class="modal-header">
          <h5 class="modal-title col-11 ms-5 text-center" id="exampleModalLabel">Your post</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
  
          <form action="/pages/yourpost" method="post" enctype="multipart/form-data">
            <textarea name="content"cols="30" rows="10" class="bg-light col-12 form__inputpost" placeholder="Suy nghĩ của bạn....."></textarea>
            <!-- inputfile -->
            <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
            <div class="file-upload">
              <div class="image-upload-wrap">
                <input name="image" class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" multiple />
                <div class="drag-text">
                  <img width="100px" src="https://cdn.picpng.com/icon/upload-files-icon-66764.png" alt="">
                  <h5 class=""><i class="fa fa-folder-open-o" aria-hidden="true"> Drag and drop file image here</i></h5>
                </div>
              </div>
              <input name="id" type="hidden" value="<%=user._id%>">
              <div class="file-upload-content">
                <img class="file-upload-image" src="#" alt="your image" />
                <div class="image-title-wrap">
                  <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
  
        </div>
      </div>
    </div>
  </div>
  <% }else if( typeof user !== 'undefined' && role_user <= 2 ){ %>
    <div class="shadow bg-light border">
      <div data-bs-toggle="modal" onclick="alert('Bạn phải là thành viên hoạt động năng nổ !')">
        <div class="col-12 text-center fs-3">Miêu tả cảm nghĩ của bạn...</div>
        <div style="height:250px" class="text-center">
          <img width="140px" class="mt-5" src="https://cdn.picpng.com/icon/upload-files-icon-66764.png" alt="">
        </div>
      </div>
    </div>
  <%}else{%>
    <div class="shadow bg-light border">
      <div data-bs-toggle="modal" data-bs-target="#login">
        <div class="col-12 text-center fs-3">Miêu tả cảm nghĩ của bạn...</div>
        <div style="height:250px" class="text-center">
          <img width="140px" class="mt-5" src="https://cdn.picpng.com/icon/upload-files-icon-66764.png" alt="">
        </div>
      </div>
    </div>
  <%}%>
  
  <style>
    .form__inputpost{
      width: 100%;
      border:0px solid transparent;
      border-radius: 0;
      border-bottom: 1px solid #aaa;
      padding: 1em .5em .5em;
      padding-left: 2em;
      outline:none;
      margin:1.5em auto;
      transition: all .5s ease;
        margin-top: -5px;
    }
    .form__inputpost:focus{
      border-bottom-color: #008080;
      box-shadow: 0 0 5px rgba(0,80,80,.4); 
      border-radius: 4px;
    }
    body {
    font-family: sans-serif;
    /* background-color: #eeeeee; */
  }
  
  .file-upload {
    /* background-color: #ffffff; */
    width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
  }
  
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload-wrap {
    margin-top: 20px;
    /* border: 4px dashed #adb1ae; */
    position: relative;
  }
  
  /* .image-dropping, */
  .file-upload:hover {
    background-color: #e4e6e5;
    border: 4px dashed #ffffff;
  }
  
  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  
  .drag-text {
    text-align: center;
  }
  
  .drag-text h3 {
    font-weight: 100;
    /* text-transform: uppercase; */
    /* padding: 60px 0; */
  }
  
  .file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
  }
  
  .remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #c2c1c1;
    border: none;
    /* padding: 10px; */
    border-radius: 4px;
    border-bottom: 4px solid #b1b0b0;
    transition: all .2s ease;
    outline: none;
    /* text-transform: uppercase; */
    /* font-weight: 700; */
  }
  
  .remove-image:hover {
    background: #a8a8a8;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .remove-image:active {
    border: 0;
    transition: all .2s ease;
  }
  </style>
  <script>
    function readURL(input) {
    if (input.files && input.files[0]) {
  
      var reader = new FileReader();
  
      reader.onload = function(e) {
        $('.image-upload-wrap').hide();
  
        $('.file-upload-image').attr('src', e.target.result);
        $('.file-upload-content').show();
  
        $('.image-title').html(input.files[0].name);
      };
  
      reader.readAsDataURL(input.files[0]);
  
    } else {
      removeUpload();
    }
  }
  
  function removeUpload() {
    $('.file-upload-input').replaceWith($('.file-upload-input').clone());
    $('.file-upload-content').hide();
    $('.image-upload-wrap').show();
  }
  $('.image-upload-wrap').bind('dragover', function () {
      $('.image-upload-wrap').addClass('image-dropping');
    });
    $('.image-upload-wrap').bind('dragleave', function () {
      $('.image-upload-wrap').removeClass('image-dropping');
  });
  </script>