
     <%
          if(typeof eventCharge !== 'undefined'){
            var i = 1
            var date = new Date().getFullYear()
            eventCharge.forEach(val =>{
     %>
<div class=" bg-white col-12 shadow">
  <div class="fw-bold card-header bg-white text-danger fs-5 col-12 text-center"><i><%=val.name%></i></div>
    <div class="card-body">
      <table class="table table-hover text-center">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">STT</th>
            <th scope="col">name</th>
            <th scope="col">Mssv</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Age</th>
            <th scope="col">Gender</th>
          </tr>
        </thead>
        <tbody>
          <%
             val.Con_user.forEach(person =>{
          %>
          <tr>
            <th>
              <a onclick="return option = confirm('You want delete <%=val.name%> ?')" href="/manage/members/delete-person?iduser=<%=person._id%>&idevent=<%=val._id%>" class="text-danger "><i class="fa fa-times" aria-hidden="true"></i></a>
            </th>
            <th scope="row">1</th>
            <td><%=person.name%></td>
            <td><%=person.mssv%></td>
            <td><%=person.email%></td>
            <td>0<%=person.phone%></td>
            <td><%=date - new Date(person.birthday).getFullYear()%></td> 
            <td><%=person.gender%></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <div class="d-flex">
        <!-- href="/manage/events/addPerson" -->
        <a id="clickperson" class="col-2 text-success">
          <!-- <i style="font-size:13px" class="fa fa-plus-square" aria-hidden="true">&nbsp;ADD PERSON</i> -->
        </a>
        <div style="font-size:13px;" class="col-10 text-end text-success fst-italic fw-bold">Người Phụ Trách</div>
      </div>
      <div id="addPerson<%=i%>" class="mt-2 col-12 add-person"> 
        <form style="margin-left: -300px;" action="/manage/members/addPerson" method="post">
          <input name="id_event" type="hidden" value="<%=val._id%>">
          <div class="col-12 justify-content-center d-flex">
            <div class="col-6">
              <select name="id_user" class="form__input">
                <option value=""></option>
                <%  if( typeof userCharge !== 'undefined' ){
                      userCharge.forEach(data =>{ 
                %>
                <option value="<%=data._id%>"><%=data.name%></option>
                <% })} %>
              </select>
            </div>
            <button style="height: 40px;" type="submit" class="btn btn-light text-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div> <br> <br>
  <% i++})}else{ %>
    <h4 class="text-danger col-12 text-center">Person in charge no data!</h4>
  <% } %>


  <style>
    .add-person{
      /* display: none; */
    }
  </style>
  <script>

        
        // var clickperson = document.querySelectorAll("#clickperson")
        // for (var i = 1; i < clickperson.length; i++) {
        //   var person = document.querySelector(`#addPerson${i}`)
          
        //   clickperson[i].onclick = function(e){
        //     person.style.display = 'block'
        //   }
        // }

        

        // function addPerson() {
        //     document.getElementById("addPerson").style.display = 'block';
        // };
  </script>

