<div class=" bg-light col-12 fst-italic shadow">
    <div class="d-flex">
        <div class="">
            <a href="/manage/registerEvent/Details" class="btn-sm btn-primary me-2 rounded-circle">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
        </div>
        <div class="fw-bold text-primary col-11 text-center ps-4">Cập nhật thông tin chi tiết</div>
    </div>
    <div class="card-body">
      <%
          if(typeof updatedetails !== 'undefined'){
      %>
        <form action="/manage/registerEvent/up-details" method="post">
            <div class="mb-3 ps-5 text-primary pe-5">
              <label class="form-label">Tên hoạt động:</label>
              <select name="id" class="form__input bg-light">
                <option value="<%=updatedetails._id%>"><%=updatedetails.name%></option>
            </select>
            </div>
              <div class="mb-3 ps-5 text-primary pe-5">
                <label class="form-label">Nội dung:</label>
                <% updatedetails.details.forEach(data =>{ %>
                <textarea name="content" id="editordetails"><%-data.content%></textarea>
                <input type="hidden" name="iduser" value="<%=data.userid%>">
                <%})%>
              </div>
              <!-- <input type="text" value="<%=new Date()%>"> -->
            <div class="text-center">
                <button type="submit" class="btn btn-danger">Lưu <i class="fa fa-check-circle-o" aria-hidden="true"></i></button>
            </div>
          </form>
          <% } %>
    </div>
  </div>

  <script src="/ckeditor/ckeditor.js"></script>
  <script>
      CKEDITOR.replace('editordetails', {
        extraPlugins:'filebrowser',
        filebrowserBrowseUrl:'/list',//upload location
        filebrowserUploadMethod:'form',
        filebrowserUploadUrl:'/upload'//route
      });
</script>











